{% extends 'chat/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
    {{new_message_form.media.css}}
{% endblock css %}

{% block js %}
    {{new_message_form.media.js}}
{% endblock js %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% if invite_form %}
            {% crispy invite_form %}
        {% endif %}

        <p class="navbar-text navbar-right">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ request.user.get_display_name }}
            &nbsp;&nbsp;
            <a href="{% url 'logout' %}" class="navbar-link">
                Выйти
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</nav>

<ul class="well">
{% for message in object_list %}
    <li class="media">
        {% comment %}
        <div class="media-left">
            <a href="#">
            <img class="media-object" src="..." alt="...">
            </a>
        </div>
        {% endcomment %}
        <div class="media-body">
            <h4 class="media-heading">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ message.user.get_display_name }}
                <small>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ message.time }}
                </small>
            </h4>
            <div class="media-body-inner">
                {{ message.message }}
            </div>
            <div class="media-body-tags">
            {% for tag in message.tags.all %}
                <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% crispy new_message_form %}

{% endblock content %}
